<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <application

        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Weweather"
        tools:targetApi="31" >
        <meta-data
            android:name="com.microsoft.maps.MapKey"
            android:value="ArxWKu0n8wuuBN0lZmamtVIB_xCkPXIUq3_7XmwlIq2hbzN8-laabOWiUQNT7aS0" />
        <activity
            android:name=".ListDays"
            android:exported="false" />
        <activity
            android:name=".Listview"
            android:exported="false"
            android:theme="@style/Theme.Weweather" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".ListHours"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/Theme.Weweather" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>